<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Codeland Manager <%- title %></title>
		<!-- CSS are placed here -->
		<link rel="stylesheet" href="/static-modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static-modules/@fortawesome/fontawesome-free/css/all.min.css">

		<link rel='stylesheet' href='/static/css/styles.css' />
		<!-- Scripts are placed here -->
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src='/static-modules/jquery/dist/jquery.js'></script>
		<script type="text/javascript" src="/static/lib/js/popper-1.16.0.min.js"></script>
		<script type="text/javascript" src="/static-modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static-modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
		<script type="text/javascript" src='/static-modules/mustache/mustache.min.js'></script>
		<script type="text/javascript" src='/static/lib/js/jq-repeat_new.js'></script>
		<script type="text/javascript" src="/static-modules/moment/dist/moment.js"></script>
		<script type="text/javascript" src="/static/js/app.js"></script>



		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>

		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		  <a class="navbar-brand" href="#">Codeland Manager <%- title %></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarCollapse">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
						<a class="nav-link" href="/Runner"> Runner</a>
		        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
		      </li>
		      <li class="nav-item">
						<a class="nav-link" href="/Worker"> Worker</a>
		        <!-- <a class="nav-link" href="#">Link</a> -->
		      </li>
		      <li class="nav-item">
						<a class="nav-link" href="/topics"> Topics</a>
		        <!-- <a class="nav-link">Disabled</a> -->
		      </li>
		    </ul>
		    <form class="form-inline mt-2 mt-md-0">
				<button class="hover-effect btn btn-outline-primary" onclick="app.auth.logOut(e => window.location.href='/')"><i class="fas fa-sign-out"></i> Log Out</button>

<!-- 		      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
		    </form>
		  </div>
		</nav>



		<!-- Container -->
		<div id="spa-shell" class="container-fluid">