[Unit]
Description={{PROJECT_NAME}} nodejs service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
Environment="NODE_ENV=production"
ExecStart=/usr/bin/env node {{INSTALL_PATH}}/nodejs/bin/www

[Install]
WantedBy=multi-user.target
